html, body {
	height: 100%;
}

body {
	padding: 50px 0px 0px 0px;
}

/**********************************/
/* content                        */
/**********************************/

.container {
	height: 100%;
}

.slide-container {
	position: relative;
	overflow: hidden;
	min-height: 100%;
	width: 100%;
	background-image: url('../images/diagonal-noise.png');
}

.content {
	height: inherit;
	padding: 0px 15px 15px 15px;
	font-weight: 600;
	color: #080808;
	background-color: rgba(255, 255, 255, 0.7);
	border: 1px solid #333;
	border-radius: 2px;
	margin-bottom: 50px;
}

.content h1.content-header {
	font-weight: 700;
	margin: 30px 0px 10px 0px;
}

.img-responsive.img-centered {
	margin: 0 auto;
}

img.profile {
	width: 168px;
	height: 224;
	border: 1px solid #333;
}

.profile-container {
	float: right;
	margin: 0px 0px 0px 15px;
}

.img-responsive.img-centered.banner {
	margin-top: 15px;
}

img.banner {
	border: 1px solid #333;
}

/**********************************/
/* navbar customization           */
/**********************************/

.navbar-default a.navbar-brand {
	/*color: #EE9004;*/
	font-weight: bold;
}

.nav.navbar-nav > li.active > a {
	font-weight: bold;
}

.contact-link-container {
	padding: 9px 0px 0px 0px;
}

a.contact-link {
	width: 32px;
	height: 32px;
	margin: 5px auto;
	border: 1px solid #333;
	float: left;
	margin: 0px 4px;
}

/**********************************/
/* angular animation              */
/**********************************/

.slide {
	top: 0;
	left: 0;
	min-height: 100%;
	width: 100%;
}

.slide.ng-enter,
.slide.ng-leave {
	-webkit-transition: all .75s ease;
	-moz-transition: all .75s ease;
	-o-transition: all .75s ease;
	transition: all .75s ease;
}

.slide.ng-enter {
	position: absolute;
	left: 100%;
}

.slide.ng-enter-active {
	position: absolute;
	left: 0;
	
}

.slide.ng-leave {
	position: absolute;
	left: 0;
}

.slide.ng-leave-active {
	position: absolute;
	left: -100%;
}