<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">

		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-collection">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<a class="navbar-brand hidden-xs" href="#">justinlang.net</a>

		<div class="nav navbar-right contact-link-container">
			<a ng-href="mailto:{{email}}" class="thumbnail contact-link">
				<img src="images/email_120x120.png" alt="Email">
			</a>
			<a href="http://www.linkedin.com/in/justinjoseflang" target="_blank" class="thumbnail contact-link">
				<img src="images/linkedin_120x120.png" alt="LinkedIn">
			</a>
			<a href="https://twitter.com/kidasync" target="_blank" class="thumbnail contact-link">
				<img src="images/twitter_120x120.png" alt="Twitter">
			</a>
			<a href="https://bitbucket.org/justinlang" target="_blank" class="thumbnail contact-link">
				<img src="images/bitbucket_120x120.png" alt="Bitbucket">
			</a>
			<a href="https://github.com/justinlang" target="_blank" class="thumbnail contact-link">
				<img src="images/github_120x120.png" alt="Github">
			</a>
			<a href="http://stackoverflow.com/users/1410418/justin-lang" target="_blank" class="thumbnail contact-link">
				<img src="images/stackoverflow_120x120.png" alt="Stackoverflow">
			</a>
		</div>

		<ul class="nav navbar-nav collapse navbar-collapse" id="navbar-collapse-collection">
			<li ng-class="{active: isActive('/blog')}"><a href="#/blog">Blog</a></li>
			<li ng-class="{active: isActive('/projects')}"><a href="#/projects">Projects</a></li>
			<li ng-class="{active: isActive('/about')}"><a href="#/about">About</a></li>
		</ul>

	</div>
</div>