doctype html

html(ng-app="net.justinlang")

  head
    title= title
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    <meta name="viewport" content="width=device-width, initial-scale=1">

  body
    block content

    //- Library scripts
    script(type='text/javascript', src='lib/angular/angular.min.js')
    script(type='text/javascript', src='lib/angular-route/angular-route.min.js')
    script(type='text/javascript', src='lib/angular-animate/angular-animate.min.js')
    script(type='text/javascript', src='lib/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='lib/bootstrap/dist/js/bootstrap.min.js')

    //- Angular initialization
    script(type='text/javascript', src='js/app.js')

    //- Controllers
    script(type='text/javascript', src='js/controllers/about.js')
    script(type='text/javascript', src='js/controllers/blog.js')
    script(type='text/javascript', src='js/controllers/projects.js')

    //- Directives
    script(type='text/javascript', src='js/directives/navbar.js')

    //- Routing
    script(type='text/javascript', src='js/routes.js')